// Place all the styles related to the agencies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.flex-container {
  display: flex;
}

.div {
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
  height: 300px;
  width: 25%;
  margin: auto;
  margin-top: 3em;

}

.grid-container {
  display: flex;
  background-color: white;
  align-content: center;
  border-style: none;

}

.submit-container {
  width: 75%;
  display: flex;
  height: 80%;
  border-style: none;
}

.cancel-container {
  margin-left: 80px;
  width: 50%;
  height: auto;
  text-align: center;
}

.grid-container > div {
  border-style: none;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
}

.cancel-button {
  width: 80%;
  text-align: center;
  background-color: white;
  color: blue;
  padding: 14px 20px;
  margin: 8px 0px;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
}
